<form>
  <input type="hidden" name="story[project_id]" value="<%= story.get('project_id') %>">
  <input class="form-control" name="story[title]" placeholder="Story Title"
      value="<%= story.get('title') %>">
  <input type=submit class="btn btn-md btn-submit submit pull-right" value="Save">
  <% if(story.id) { %>
  <button class="btn btn-md btn-danger delete-story pull-right">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
  <% } %>
  <button class="btn btn-md btn-warning cancel-edit pull-right">
    <span class="glyphicon glyphicon-ban-circle"></span>
  </button>

  <div class="input-group">
    <span for="story-type" class="input-group-addon">Type:</span>
    <select id="story-type" name="story[story_type]" class="form-control">
      <% _.each(storyTypes, function (storyType) { %>
      <option <%= story.selectedStoryType(storyType) %> value="<%= storyType %>">
        <%= storyType %>
      </option>
      <% }); %>
    </select>
  </div>

  <div class="input-group">
    <label for="story-state" class="input-group-addon">State:</label>
    <select id="story-state" name="story[story_state]" class="form-control">
      <% _.each(storyStates, function (storyState) { %>
      <option <%= story.selectedStoryState(storyState) %> value="<%= storyState %>">
        <%= storyState %>
      </option>
      <% }); %>
    </select>
  </div>
  <div class="input-group">
    <label for="story-points" class="input-group-addon">Points:</label>
    <select id="story-points" name="story[story_points]" class="form-control">
      <option value="">unestimated</option>
      <% _.each(storyPointVals, function (storyPointVal) { %>
      <option <%= story.selectedStoryPointVal(storyPointVal) %> value="<%= storyPointVal %>">
        <%= storyPointVal %>
      </option>
      <% }); %>
    </select>
  </div>
  
  <textarea class="form-control" name="story[description]" placeholder="Description"><%= story.get('description') %></textarea>
  
</form>